.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 10px;
}

.footer__button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 10px;
  margin: 0 10px;
  font-size: 18px;
  color: white;
  background-color: #2a2a2a;
  filter: brightness(0.5);
}

.footer__button.selected {
  filter: brightness(1);
}

.footer__button__img {
  filter: invert(1);
  width: 50px;
  height: 50px;
}

.footer__button--male {
  background-color: #3b5998;
}

.footer__button--female {
  background-color: #dd4b39;
}





.footer__separator {
  width: 2px;
  height: 50px;
  margin: 0 10px;
  background-color: white;
}